:root {
    --divider: lightgray;
    --white: #fff;
}

*, 
*::before
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


.chart-wrapper {
    max-width: 1150px;
    padding: 0 10px;
    margin: 0 auto;
  }


  /* CHART VALUES */

.chart-wrapper .chart-values {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    
}

.chart-wrapper .chart-values li {
    flex: 1;
    min-width: 80px;
    text-align: center;
  }

  .chart-wrapper .chart-values li:not(:last-child) {
    position: relative;
  }

  .chart-wrapper .chart-values li:not(:last-child)::before {
    content: '';
    position: absolute;
    right: 0;
    height: 510px;
    border-right: 1px solid var(--divider);
  }